* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* Header */

.brand {
    margin-top: 30px;
    margin-left: 80px;
    float: left;
}

.brand img {
    width: 160px;
    height: 30px;
}

.menu-icon {
    color: transparent;
    float: right;
    font-size: 40px;
    padding: 40px 30px;
}

.nav-links {
    float: right;
    padding-top: 30px;
}

.link-list {
    padding-right: 80px;
    list-style: none;
}

.link-item {
    display: inline;
    margin-right: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Roboto' , sans-serif;
    color: #ffffff;
}

.link-item a {
    text-decoration: none;
    color: #fff;
    transition: all 0.01s;
}

.link-item a:hover {
    border-bottom: 2px solid rgba(255, 255, 225, 0.8);
}

header {
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%);
    height: 90vh;
}

/* Bagian Hero */
.hero-section {
    margin: 200px 0;
    float: left;
    color: #ffffff;
    width: 714px;
    height: 265px;
}

.hero-section a:hover {
    color: #fff;
}

.hero-image img {
    position: absolute;
    margin-top: 80;
    width: 845px;
    height: 627px;
}
.site-title {
    margin-top: 100px;
}

.site-desc {
    margin-top: 20px;
    margin-bottom: 50px;
}

.site-quotes {
    margin-bottom: 50px;
}

.btn-title {
    background-color: #3A55E1;
    border-radius: 50px;
    width: 140px;
    height: 50px;
    padding: 12px 25px;
    color: #ffffff;
}

/* Bagian Team */

.team {
    padding: 200px 230px;
    text-align: center;
}

.team-title {
    margin-bottom: 60px;
}

.card {
    border: none;
}

.card-img {
    margin-top: 40px;
    margin-left: 10.5%;
    width: 266px;
    height: 266px;
    border-radius: 50%;
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%);
}

.card-img img {
    margin-top: 8px;
    margin-left: auto;
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.card-img-center {
    margin-top: 40px;
    margin-left: 40.5%;
    width: 266px;
    height: 266px;
    border-radius: 50%;
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%);
}

.card-img-center img {
    margin-top: 8px;
    margin-left: auto;
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.team-name {
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.66);
}

/* Bagian Contact */

.contact {
    padding: 200px 230px;
    text-align: center;
    background: #fafafa;
}

.contact-form {
    background-image: url("../img/bgcontact.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}

.site-contact{
    color: #ffffff;
    padding-top: 170px;
    margin-bottom: 138px;
}

.email {
    width: 800px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: left;
    color: #fff;
}

.email::-webkit-input-placeholder {
    color: #fff;
}

.email:hover {
    color: #fff;
}

.submit {
    width: 200px;
    height: 80px;
    background: #3a55e1;
    border-radius: 50px;
    padding: 20px;
}

.contact-form a {
    font-size: 24px;
    color: #fff;
}

.contact-form a:hover {
    color: #fff;
}

/* Footer */

footer {
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%);
    height: 80px;
}

footer img {
    width: 160px;
    height: 30px;
    float: left;
    margin-left: 80px;
    margin-top: 30px;
}

footer p {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
    color: #fff;
}

/* scroll to top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myBtn:hover {
    background: linear-gradient(127.43deg, #3a55e1 0.05%, #a65cf0 74.84%, #e45cf0 97.09%); /* Add a dark-grey background on hover */
  }
